<!DOCTYPE html>
<html lang="ko" ng-app="app">
  <head>
    <title>SNS board Detail</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" conetnt="width-device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="./public/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/font-awesome.min.css">
    <link rel="stylesheet" href="./public/css/main.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fiexed-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-tatget=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand">SNS Board</a>
      </div>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="#" class="navbar-link">New</a></li>
          <li><a href="#" class="navbar-link">Popular</a></li>
          <li><a href="#" class="navbar-link">Favorite</a></li>
          <li><a href="#" class="navbar-link"><i class="fa fa-plus"></i></a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal">Sign in</button>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="page-header">
            <h1>Title<small class="pull-right">2014-09-30</small></h1>
          </div>
          <div class="jumbotron clearfix">
            <img src="./public/image/black.png" alt="thumnail image" class="img-thumbnail pull-left">
            <blockquote class="pull-right hidden-xs">
              <p>
                Description
              </p>
              <small><a href="#"><img src="./public/image/orange.png" alt="user profile Image" class="img-circle"/></a>user name</small>
            </blockquote>
            <blockquote class="visible-xs">
              <p>
                Description
              </p>
              <p><a href="#"><img src="./public/image/orange.png" alt="user profile Image" class="img-circle"/></a><small>user name</small></p>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="row" ng-controller="ListCtrl">
        <div class="col-md-12 col-xs-12">
          <ul class="list-unstyled coments-list">
            <list-template></list-template>
          </ul>
        </div>
        <div class="row" ng-controller="PagingCtrl">
          <div class="col-md-12 col-xs-12 text-center">
            <div class="row hidden-xs">
              <paging-template></paging-template>
            </div>
            <div class="row visible-xs">
              <button type="button" class="btn btn-default btn-lg btn-block">More..</button>
            </div>
          </div>
        </div>
      </div>
      <div id="side-navgation">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <i class="fa fa-pencil"></i>Comment
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse out">
              <div class="panel-body">
                <div class="row" ng-controller="FormCtrl">
                  <form-template></form-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="loginModal" ng-controller="LoginCtrl">
      <div class="modal-dialog" role="dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
            <h4 class="modal-title text-center">Login</h4>
          </div>
          <div class="modal-body">
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="signin('facebook')"><i class="fa fa-facebook"></i>FaceBook</button>
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="signin('twitter')"><i class="fa fa-twitter"></i>Twitter</button>
          </div>
        </div>
      </div>
    </div>
    <script src="./public/script/angular.min.js"></script>
    <script src="./public/script/jquery-2.1.1.min.js"></script>
    <script src="./public/script/bootstrap.min.js"></script>
    <script src="./public/script/ui-bootstrap-tpls-0.11.2.min.js" charset="utf-8"></script>
    <script src="detail.js" charset="utf-8"></script>
    <script src="./List/ListService.js" charset="utf-8"></script>
    <script src="./List/ListController.js" charset="utf-8"></script>
    <script src="./List/ListDirective.js" charset="utf-8"></script>
    <script src="./Paging/PagingService.js" charset="utf-8"></script>
    <script src="./Paging/PagingController.js" charset="utf-8"></script>
    <script src="./Paging/PagingDirective.js" charset="utf-8"></script>
    <script src="./Form/FormService.js" charset="utf-8"></script>
    <script src="./Form/FormController.js" charset="utf-8"></script>
    <script src="./Form/FormDirective.js" charset="utf-8"></script>
    <script src="./Login/LoginService.js" charset="utf-8"></script>
    <script src="./Login/LoginController.js" charset="utf-8"></script>
  </body>
</html>
