<div class="modal-dialog" role="dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> x </button>
      <h4 class="modal-title text-center">Login</h4>
    </div>
    <div class="modal-body">
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="signin('facebook')"><i class="fa fa-facebook"></i>FaceBook</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="signin('twitter')"><i class="fa fa-twitter"></i>Twitter</button>
    </div>
  </div>
</div>
