<form role="form" class="clearfix">
  <div class="col-lg-11">
    <div class="input-group">
      <span class="input-group-addon"><img ng-src="{{userInfo.profileImage}}" alt="{{userInfo.name}} profile Image" class="img-circle user-profile-image"></span>
      <textarea rows="3" class="form-control" ng-model="form.comment"></textarea>
    </div>
  </div>
  <div class="col-lg-1">
    <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="submit(form)">Submit</button>
    <p class="text-center">
      <a href="#">Sign-in</a>
    </p>
  </div>
</form>
